{{define "album"}}<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125453656-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-125453656-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50256039 = new Ya.Metrika2({
                        id:50256039,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50256039" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <meta charset="UTF-8">
    <meta name="description" content="Listen touhou music online. Слушай тохо
     музыку онлайн.">
    <meta name="keywords" content="touhou,music,online,тохо,музыка,онлайн">
    <title>{{.Album.Year}} - {{.Album.Title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
          crossorigin="anonymous" />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/css/album.css?v6">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body data-album="{{.AlbumJSON}}">

<div class="album">

    <div class="back">
        <a href="/"><span class="arrow">&larr;</span> Back</a>
    </div>

    <div class="header">
        <img class="cover" src="{{.Album.Cover}}" alt="touhou album cover"/>
        <h1 class="title">{{.Album.Year}} - {{.Album.Title}}</h1>
    </div>

    {{range $track := .Album.Tracks}}

        <div class="track">

            <div class="play fa fa-play"
                 data-track-number="{{$track.Number}}"></div>

            <div class="title">{{$track.Number}}. {{$track.Title}}</div>

        </div>

    {{end}}

    <div class="back bottom">
        <a href="/"><span class="arrow">&larr;</span> Back</a>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.15/howler.min.js"
        integrity="sha256-xBcR4i4ye4rtowH50D55ALv0fUWqFpS5YjHfer+rFvY="
        crossorigin="anonymous"></script>

<script src="/js/album.js?v4"></script>

</body>
</html>
{{end}}