{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125453656-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-125453656-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50256039 = new Ya.Metrika2({
                        id:50256039,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/50256039" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <meta charset="UTF-8">
    <meta name="description" content="{{.L10n.description}}">
    <title>Touhou Music Online</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/index.css?v4">

</head>
<body>

<div class="header">
    <h1>{{.L10n.title}}</h1>
    <div class="lang">
        {{range .Languages}}
            <a {{if ne . $.Language}}href="/{{.}}"{{end}}>{{.}}</a>
        {{end}}
    </div>
</div>


<div class="albums">
    {{range .Albums}}
        <a class="album" href="/{{$.Language}}/{{.Slug}}">
            <img class="cover" src="/static/{{.Cover}}" alt="touhou album cover"/>
            <div class="title">{{.Year}} - {{.Title}}</div>
        </a>
    {{end}}
</div>

<div class="footer">
    email: <a href="mailto:dimuls@yandex.ru?Subject=touhou-music.online">dimuls@yandex.ru</a>
    telegram: <a href="https://telegram.me/dimuls">dimuls</a>
    vk.com: <a href="https://vk.com/dimuls">dimuls</a>
</div>

</body>
</html>
{{end}}