@import url('https://fonts.googleapis.com/css?family=Philosopher:400i&subset=cyrillic');

window, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background: url(/static/img/pattern-2.jpg) top left repeat;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

.album {
    margin: 2em;
    padding: 1em;
    background: white;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.footer {
    display: inline-block;
    margin: 0 2em 2em 2em;
    padding: 1em;
    background: white;
}

.footer > div {
    font-size: 1.5em;
}

.back {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.lang {
    font-size: 2em;
    position: absolute;
    right: 0.3em;
    top: 0.1em;
}

.back.bottom {
    margin-top: 0.6em;
}

.arrow {
    font-family: Arial;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.cover {
    width: 10em;
    height: 10em;
}

.header .title {
    width: 100%;
    text-align: center;
    font-weight: normal;
    padding: 0;
    margin: 0 0 0 1em;
    font-size: 2em;
}

.button {
    padding: 0.2em;
    border: 1px solid #d9d9d9;
    border-radius: 0.1em;
    font-size: 3em;
    width: 1.2em;
    min-width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}

.track {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-top: 1em;
}

.track .title {
    margin-left: 1em;
    font-size: 1.8em;
}

.play {
    position: relative;
    top: 0.01em;
}


@media (min-width: 768px) {

    .album {
        padding: 2em;
        margin: 2em;
    }

    .back {
        font-size: 3em;
        margin-bottom: 0.3em;
    }

    .lang {
        font-size: 3em;
    }

    .header .title {
        font-size: 3.5em;
        max-width: 14.1em;
    }

    .cover {
        width: 21em;
        height: 21em;
    }

    .track {
        margin-top: 1.8em;
    }

    .track .title {
        font-size: 3em;
        max-width: 20em;
        width: 100%;
    }

    .button {
        font-size: 4.5em;
        width: 1.2em;
        height: 1.2em;
        line-height: 1.2em;
    }
}

@media (min-width: 1440px) {

    .back {
        font-size: 2.5em;
    }

    .lang {
        font-size: 2.5em;
    }

    .header .title {
        font-size: 3em;
        max-width: 12em;
    }

    .track .title {
        font-size: 2.5em;
        max-width: 20em;
        width: 100%;
    }

    .button {
        font-size: 4em;
    }
}
