window, body {
    padding: 0;
    margin: 0;
}

body {
    background: url(/img/pattern-2.jpg) top left repeat;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    text-align: center;
}

.album {
    margin: 20px;
    padding: 20px;
    background: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.arrow {
    font-family: Arial;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.cover {
    width: 300px;
    height: 300px;
}

.header .title {
    width: 100%;
    text-align: center;
    font-weight: normal;
    text-align: center;
    padding: 0;
    font-size: 50px;
    margin-left: 20px;
}

.track {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.track .title {
    margin-left: 20px;
}

.play {
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 70px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    line-height: 100px;
    position: relative;
    top: -5px;
    cursor: pointer;
}

.play::after {
    content: '▶';
}
.play.paused {
    line-height: 85px;
}
.play.paused::after {
    content: "⏸"
}


@media (min-width: 768px) {

}

@media (min-width: 1440px) {

}