@import url('https://fonts.googleapis.com/css?family=Courgette');

window, body {
    padding: 0;
    margin: 0;
}

body {
    background: url(/img/pattern-2.jpg) top left repeat;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    text-align: center;
}

.album {
    margin: 20px;
    padding: 20px;
    background: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.arrow {
    font-family: Arial;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.cover {
    width: 300px;
    height: 300px;
}

.header .title {
    width: 100%;
    text-align: center;
    font-weight: normal;
    text-align: center;
    padding: 0;
    font-size: 50px;
    margin-left: 20px;
}

.track {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.track .title {
    margin-left: 20px;
}

.play {
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 70px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    line-height: 100px;
    position: relative;
    top: -5px;
    cursor: pointer;
}

.play::after {
    content: '▶';
}
.play.paused {
    line-height: 85px;
}
.play.paused::after {
    content: "⏸"
}

@media (min-width: 768px) {
    body {
        font-size: 30px;
    }

    .header .title {
        font-size: 35px;
        max-width: 500px;
    }

    .cover {
        width: 200px;
        height: 200px;
    }

    .track .title {
        max-width: 600px;
    }

    .play {
        font-size: 40px;
        width: 65px;
        height: 65px;
        line-height: 65px;
        top: -5px;
    }
    .play.paused {
        line-height: 61px;
    }
}

@media (min-width: 1440px) {
    body {
        font-size: 20px;
    }

    .header .title {
        font-size: 30px;
        max-width: 400px;
    }

    .track .title {
        max-width: 500px;
    }

    .play {
        font-size: 30px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        position: relative;
        top: -5px;
    }
    .play.paused {
        line-height: 50px;
    }
}