@import url('https://fonts.googleapis.com/css?family=Philosopher:400i&subset=cyrillic');

window, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    background: url(/static/img/pattern-1.jpg) top left repeat;
    font-size: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
}

.header {
    padding: 1em 1em 1.5em 1em;
    margin: 0 1em 0.5em 1em;
    background: white;
    position: relative;
    font-size: 2em;
}

.footer {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    background: white;
    font-size: 1.5em;
}

.header h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.header .lang {
    font-size: 1.5em;
    position: absolute;
    right: 0.3em;
    bottom: 0.1em;
}

.albums {
    display: grid;
}

@media (min-width: 0) {
    .albums {
        grid-template-columns: 1fr;
    }
}

.album {
    margin: 2em;
    padding: 1em;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.album .cover {
    width: 100%;
}

.album .title {
    font-size: 2.5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

@media (min-width: 768px) {
    .header {
        display: inline-block;
    }
    .albums {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1440px) {
    .header h1 {
        font-size: 3em;
    }
    .albums {
        grid-template-columns: 1fr 1fr 1fr;
    }
}