@import url('https://fonts.googleapis.com/css?family=Courgette');

window, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Courgette', cursive;
    text-align: center;
    background: url(/img/pattern-1.jpg) top left repeat;
    font-size: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
}

.header {
    padding: 0.5em;
    margin: 0 0 0.5em 0;
    font-size: 4em;
    background: white;
    display: inline-block;
    font-weight: normal;
}

.albums {
    display: grid;
}

@media (min-width: 0) {
    .albums {
        grid-template-columns: 1fr;
    }
}

.album {
    margin: 2em;
    padding: 1em;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.album .cover {
    width: 100%;
}

.album .title {
    font-size: 2.5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

@media (min-width: 768px) {
    .title {
        font-size: 2.5em;
    }
    .albums {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1440px) {
    .header {
        font-size: 5em;
    }
    .albums {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title {
        font-size: 2em;
    }
}